.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 30%;
}
.header__logo img {
  max-width: 100%;
}
.logo__img {
  max-width: 70%;
}
nav {
  width: 70%;
}
ul {
  display: flex;
  list-style-type: none;
}
ul li {
  color: white;
  margin: 0 10px;
}
@media (min-width: 768px) {
  HamburgerButton {
    display: none;
  }
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .header__logo {
    width: 45%;
  }
}
